<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="utf-8" />
	<title>后台管理</title>
	<meta name="description" content="overview &amp; stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="stylesheet" href="/static/assets/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/static/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" >
	<link rel="stylesheet" href="/static/assets/css/fonts.googleapis.com.css" />
	<link rel="stylesheet" href="/static/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
	<!--[if lte IE 9]>
		<link rel="stylesheet" href="/static/assets/css/ace-part2.min.css" class="ace-main-stylesheet" />
	<![endif]-->
	<link rel="stylesheet" href="/static/assets/css/ace-skins.min.css" />
	<link rel="stylesheet" href="/static/assets/css/ace-rtl.min.css" />
	<link rel="stylesheet" href="/static/layui/css/layui.css">
	<!--[if lte IE 9]>
	  <link rel="stylesheet" href="/static/assets/css/ace-ie.min.css" />
	<![endif]-->
	<script src="/static/assets/js/ace-extra.min.js"></script>
	<!--[if lte IE 8]>
	<script src="/static/assets/js/html5shiv.min.js"></script>
	<script src="/static/assets/js/respond.min.js"></script>
	<![endif]-->
	<style>
		select + div{
			width: 41.666%;
		}
	</style>
</head>
<body class="no-skin">
{include file="index/header" /}
<div class="main-container ace-save-state" id="main-container">

{include file="index/menu" /}

<div class="main-content">
<div class="main-content-inner">
	<div class="breadcrumbs ace-save-state" id="breadcrumbs">
		<ul class="breadcrumb">
			<li><i class="ace-icon fa fa-home home-icon"></i><a href="/youmei.php">首页</a></li>
			<li><a href="{:url('config/index')}">网站管理</a></li>
		</ul>
		<div class="nav-search" id="nav-search">
			<form class="form-search">
				<span class="input-icon">
					<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
					<i class="ace-icon fa fa-search nav-search-icon"></i>
				</span>
			</form>
		</div>
	</div>
<div class="page-content">
<div class="page-header">
	<h1>添加友链<small><i class="ace-icon fa fa-angle-double-right"></i>添加友情链接</small></h1>
</div>


<div class="row">
	<div class="col-xs-12">
	<form class="form-horizontal layui-form" role="form">
		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="width: 70px;">名称</label>
			<div class="col-sm-9">
				<input type="text" name="name" lay-verify="required" maxlength="8" id="form-field-1" class="col-xs-10 col-sm-5">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="width: 70px;">链接地址</label>
			<div class="col-sm-9">
				<input type="text" name="url" lay-verify="url" maxlength="30" id="form-field-1" class="col-xs-10 col-sm-5">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="width: 70px;">排序</label>
			<div class="col-sm-9">
				<input type="number" name="sort" max="100" lay-verify="number" placeholder="排序越小越靠前" id="form-field-1" class="col-xs-10 col-sm-5">
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="width: 70px;">是否显示</label>
			<div class="col-sm-9">
				<select name="show">
						<option value="1">显示</option>
						<option value="0">不显示</option>
				</select>
			</div>
		</div>

		<div class="space-4"></div>
		<div class="clearfix form-actions">
			<div class="col-md-9">
				<button class="btn btn-info"  lay-submit lay-filter="addlink" type="button"><i class="ace-icon fa fa-check bigger-110"></i>提交</button>
				&nbsp; &nbsp; &nbsp;
				<button class="btn" type="reset"><i class="ace-icon fa fa-undo bigger-110"></i>重置</button>
			</div>
		</div>
	</form>
	</div>
</div>
</div>

</div>
<!--[if !IE]> -->
<script src="/static/assets/js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
	<script src="/static/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script type="text/javascript">if('ontouchstart' in document.documentElement) document.write("<script src='/static/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");</script>
<script src="/static/assets/js/bootstrap.min.js"></script>
<!--[if lte IE 8]>
  <script src="/static/assets/js/excanvas.min.js"></script>
<![endif]-->
<script src="/static/assets/js/jquery-ui.custom.min.js"></script>
<script src="/static/assets/js/jquery.ui.touch-punch.min.js"></script>
<script src="/static/assets/js/jquery.easypiechart.min.js"></script>
<script src="/static/assets/js/jquery.sparkline.index.min.js"></script>
<script src="/static/assets/js/jquery.flot.min.js"></script>
<script src="/static/assets/js/jquery.flot.pie.min.js"></script>
<script src="/static/assets/js/jquery.flot.resize.min.js"></script>
<script src="/static/assets/js/ace-elements.min.js"></script>
<script src="/static/assets/js/ace.min.js"></script>
<script src="/static/layui/layui.all.js"></script>
<script>
var form = layui.form;
form.on('submit(addlink)', function(data){
	var load=layer.msg('正在保存...', {icon:16,shade:[0.1, '#fff'],time:false });
	$.ajax({
	    url: "{:url('config/addlink')}",
	    type: "POST",
	    dataType:"json",
	    data:$("form").serialize(),
	    success: function(data){
	        layer.close(load);
	        if (data.success) {
	        	layer.msg(data.success, {icon: 1,time: 1000});
	        }else{
	            layer.msg(data.error, {icon: 5,time: 1000});
	        }   
	    }
	});
});
</script>
</body>
</html>
