﻿.Contact_block{
	position: relative;
	width: 90%;
	margin: 25px auto;
}
.Contact_top{
	position: relative;
	width: 100%;
}
.Contact_top img{
	width: 100%;
}
.Contact_title{
	position: absolute;
	top: 24%;
	left: 0;
	width: 100%;
}
.editor{
	position: relative;
	width: 100%;
	margin-top: 20px;
}
.editor p {
    font-size: 1.6rem;
    line-height: 20px;
    margin-bottom: 8px;
    padding-left: 5px;
}
.editor .slideUp{
	position: relative;
	width: 100%;
	margin-top: 20px;
}
.slideUp .iteam{
	position: relative;
	width: 100%;
	margin-bottom: 11px;
}
.iteam a {
	position: relative;
    z-index: 99;
    -webkit-appearance: none;
    display: block;
    width: 100%;
    height: 76px;
    font-size: 1.8rem;
    line-height: 76px;
    text-align: center;
    color: #fff;
    background-color: #29a761;
    border-radius: 0;
}
.iteam .cont{
	position: relative;
	width: 100%;
	-webkit-transition: height 250ms;
	overflow: hidden;
	/*display: none;*/
}
.cont .warp{
	position: relative;
    width: 88%;
    background: #f4f4f4;
    padding: 6%;
}

.Join_Bg{
	background:#fff url(../images/j1.png) no-repeat bottom;
	background-size: 100%;
}
.Join_Block{
	position: relative;
    width: 90%;
    margin: 25px auto;
}
.Join_Block h2.Join_title{
	font-size: 2.2rem;
    color: #29a761;
    width: 90%;
    margin: 34px auto;
    text-align: center;
    line-height: 32px;
    letter-spacing: 0.1rem;
}
.Join_Block p{
	font-size: 1.6rem;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.1rem;
    text-indent: 2.9rem;    
}
.Join_Block em.feiji{
	position: absolute;
    top: 11%;
    right: 0;
    width: 34%;
}
.Join_Block em.feiji img{
	width: 100%;
	-webkit-animation: anim1 6s ease-in-out infinite;
}
.Join_us{
	position: relative;
	width: 100%;
	margin-top: 40px;
}
.Join_us a{
	display: block;
    color: #fff;
    font-size: 2.0rem;
    padding-left: 36px;
    line-height: 66px;
    width: 82px;
    margin: 0 auto;
}
.J_social{
	position: relative;
	width: 46%;
	height: 66px;
	float: left;
	background: #53bd8c;
}
.J_social a{
	background: url(../images/j3.png) no-repeat left center;
    background-size: 30px;
}
.J_school{
	position: relative;
	width: 46%;
	height: 66px;
	float: right;
	background: #6daeda;
}
.J_school a{
	background: url(../images/j4.png) no-repeat left center;
    background-size: 30px;
}

.Social_Bg{
	background: #eeeeee;
}
.Job_top{
	position: relative;
    width: 90%;
    padding: 24px 5%;
    background: #fff;
}
.Job_place{
	position: relative;
    width: 44%;
    height: 40px;
    float: left;
    border: 1px solid #d2d2d2;
    line-height: 40px;
    padding: 0 3%;
}
.Job_place span{
	display: block;
    float: left;
    color: #000;
    font-size: 1.4rem;
}
.Job_place select{
	padding: 4px 16px 4px 5px;
    font-size: 1.4rem;
    border: none;
    background: url(../images/j6.png) no-repeat 95% 55%;
    background-size: 12px;
    -webkit-appearance: none;
    border-radius: 0;
    width: 89px;
    float: right;
    margin-top: 6px;
    letter-spacing: 0.1rem;
}
.Job_place option{
	background: #fff;
    color: #333;
    font-size: 1.4rem;
    text-align: center;
}
.Job_search{
	position: relative;
	width: 47%;
	height: 40px;
	float: right;
	border: 1px solid #d2d2d2;
}
.Job_search input{
	width: 72%;
    height: 40px;
    padding-left: 6px;
    background: none;
    border: none;
}
.Job_search a{
	width: 24%;
    height: 40px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: #29a761 url(../images/j5.png) no-repeat center center;
    background-size: 20px;
}
.Job_List{
	position: relative;
	width: 100%;
}
.Job_item{
	position: relative;
	width: 90%;
	padding: 3% 5%;
	margin-top: 2px;
	margin-bottom: 10px;
	background: #fff;
}
.Job_item a{
	display: block;
	width: 100%;
	height: 100%;
}
.J_f{
	position: relative;
	width: 100%;
}
.J_f p{
	font-size: 1.8rem;
	color: #000;
}
.J_f p.J_name{
	float: left;
}
.J_f p.J_mony{
	float: right;
}
.J_t{
	position: relative;
	width: 100%;
	margin-top: 6px;
}
.J_t span{
	color: #4d4d4d;
}
.J_t span.J_time{
	float: left;
}
.J_t span.J_man{
	display: block;
    position: absolute;
    left: 50%;
    margin-left: -55px;
}
.J_t span.J_data{
	float: right;
}
/*.Jobinner_Bg{
	background: url(../images/j7.jpg) repeat;
}*/
.Jobinner_txt{
	position: relative;
    width: 82%;
    margin: 20px auto;
    background: #fff;
    padding: 5%;
}
.Jobinner_title{
	position: relative;
	color: #323232;
	font-size: 2.2rem;
}
.Jobinner_item{
	position: relative;
	border-top: 1px solid #f2f2f2;
	margin-top: 10px;
}
.Jobinner_item h2 {
    font-size: 2.2rem;
    color: #323232;
    line-height: 4rem;
}
.Jobinner_item p {
    color: #4d4d4d;
    line-height: 2.2rem;
    text-align: justify;
}
.Jobinner_bottom{
	position: relative;
	background: #fff;
	padding: 8% 5%;
}
.Jobinner_bottom a{
	display: block;
	text-align: center;
	font-size: 1.6rem;
	color: #616161;
	border: 1px solid #aaaaaa;
	height: 40px;
    line-height: 40px;
    border-radius: 5px;
}
.Jobinner_bottom a.qiancheng{
	position: relative;
	float: left;
	width: 48%;
}
.Jobinner_bottom a.zhilian{
	position: relative;
	float: right;
	width: 48%;
}

.Server_Bg{
	background: #fff url(../images/j1.png) no-repeat bottom;
	background-size: 100%;
}
.Server_Bg .Server_Block{color: #000;}
.Server_Bg .Server_Block .te{color: #243339;}
.Server_Block{
	position: relative;
	width: 100%;
    padding: 35px 0;
    background: #de6f00 url(../images/s1.jpg) no-repeat center;
    background-size: cover;
    font-size: 1.6rem;
    color: #212121;
    text-align: center;
    color: #545454;
}
.Server_Block .tc{
	letter-spacing: 1px;
	font-size: 2.0rem;
}
.Server_Block .te{
	text-transform: uppercase;
}
.Server_List{
	position: relative;
	width: 100%;
	margin: 0 auto;	
}
.Server_List li{
	width: 25%;
    float: left;
    text-align: center;
    font-size: 1.4rem;
}
.Server_List li a{
    color: #000;
    display: block;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 62%;
}
.Server_List li.all{
	background: url(../images/se1.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.king{
	background: url(../images/se2.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.city{
	background: url(../images/se3.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.pe{
	background: url(../images/se4.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.bus{
	background: url(../images/se5.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.tour{
	background: url(../images/se6.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.hotel{
	background: url(../images/se7.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.food{
	background: url(../images/se8.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.pro{
	background: url(../images/se9.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.ship{
	background: url(../images/se10.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.heath{
	background: url(../images/se11.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.sci{
	background: url(../images/se12.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.space{
	background: url(../images/se13.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.foot{
	background: url(../images/se14.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.tea {
    background: url(../images/se15.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_List li.teach {
    background: url(../images/se16.png) no-repeat center 33%;
    background-size: 36%;
}
.Server_title{
	position: relative;
	width: 90%;	
	margin: 25px auto;
	font-size: 2.125rem;
	text-align: center;
	letter-spacing: 0.1rem;
}
.Server_title em.feiji {
    position: absolute;
    top: 5%;
    right: 0;
    width: 34%;
}
.Server_title em.feiji img {
    width: 100%;
    -webkit-animation: anim1 6s ease-in-out infinite;
}
.Server_title h2{
	color: #000;
}
.Server_title h3{
	color: #b3b3b3;
	margin-bottom: 25px;
}
.Server_title h4{
	color: #ee7701;
	margin-bottom: 16px;
}
.Server_title p{
	font-size: 1.6rem;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
    text-indent: 2.9rem;
}
.Server_title span{
	color: #29a761;
}

.Viola_Bg{
    background: #fff url(../images/j1.png) no-repeat bottom;
    background-size: 100%;
}
.Viola_Block{
    position: relative;
    width: 90%;
    margin: 20px auto;
}
.Viola_img{
    position: relative;
    width: 100%;
}
.Viola_img img{width: 100%;}
.Viola_title{
    position: absolute;
    top: 10%;
    left: 0;
}
.Viola_text {
    position: relative;
    width: 100%;
}
.V_head {
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    margin: 15px auto;
}
.V_head h2{
    color: #000;
}
.V_head h3{
    color: #262626;
}
.V_txt {
    position: relative;
    width: 100%;
}
.V_txt p {
    color: #4f4f4f;
    font-size: 1.6rem;
    margin-bottom: 8px;
    line-height: 24px;
}

.charity_Bg{
    background: #eee;
}
.charity_Block {
    width: 100%;
    padding: 35px 0;
    background: #de6f00 url(../images/c3.jpg) no-repeat center;
    background-size: cover;
    font-size: 1.6rem;
    color: #212121;
    text-align: center;
}
.charity_Block .tc {
    letter-spacing: 0.1rem;
    font-size: 2.0rem;
}
.charity_Block .te {
    text-transform: uppercase;
}
.charity_List {
    position: relative;
    width: 100%;
}
.charity_List .charity_item {
    position: relative;
    background: #fff;
    padding: 20px 20px 16px 20px;
    margin-top: 15px;
}
.charity_List .charity_item a {
    display: block;
    width: 100%;
    height: 100%;
    color: #717171;
}
.charity_item .char_left {
    position: relative;
    float: left;
    width: 35%;
}
.charity_item .char_left img{width: 100%;height: 75px;}
.charity_item .char_right {
    position: relative;
    float: right;
    width: 60%;
    text-align: justify;
}
.charity_item .char_right h2 {
    font-size: 1.6rem;
    height: 44px;
    overflow: hidden;
    color: #212121
}
.charity_time{
    position: relative;
    width: 100%;
    margin-top: 6%;
}
.charity_time span{
    font-size: 1.4rem;
    display: block;
    position: relative;
}
.charity_time span.from {
    float: left;
    width: 62%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.charity_time span.data {
    float: right;
    width: 73px;
}


@media screen and (max-width: 320px){
	.Job_place {width: 51%;}
	.Job_search {width: 40%;}
	.Server_List li.foot {background: url(../images/se14.png) no-repeat center 24%;background-size: 36%;}
	.Server_List li.foot a{padding-bottom: 20px !important;}
	.charity_item .char_right h2{font-size: 1.6rem;height: 43px;}
	.charity_time span.from{width: 48%;}
}
@media screen and (max-width: 375px){
	.Server_List li.foot a{padding-bottom: 2px;}
	.charity_time {margin-top: 7%;}
}
 
@-webkit-keyframes zomIn2{
	0%{-webkit-transform:scale(.2);opacity:0;}
  100%{-webkit-transform:scale(1);opacity:1;}
} 
@keyframes zomIn2{
	0%{-webkit-transform:scale(.2);transform:scale(.2);opacity:0;}
  100%{-webkit-transform:scale(1);transform:scale(1);opacity:1;}
} 
@-webkit-keyframes zomIn{
	0%{-webkit-transform:scale(1.1,1.1);opacity:0;}
  100%{-webkit-transform:scale(1,1);opacity:1;}
} 
@keyframes zomIn{
	0%{-webkit-transform:scale(1.1,1.1);transform:scale(1.1,1.1);opacity:0;}
  100%{-webkit-transform:scale(1,1);transform:scale(1,1);opacity:1;}
} 
@-webkit-keyframes fadeUp{
	0%{-webkit-transform:translateY(50px);opacity:0;}
  100%{-webkit-transform:translateY(0px);opacity:1;}
} 
@keyframes fadeUp{
	0%{-webkit-transform:translateY(50px);transform:translateY(50px));opacity:0;}
  100%{-webkit-transform:translateY(0px);transform:translateY(0px);opacity:1;}
} 
@-webkit-keyframes fadeDown{
	0%{-webkit-transform:translateY(-50px);opacity:0;}
  100%{-webkit-transform:translateY(0px);opacity:1;}
} 
@keyframes fadeDown{
	0%{-webkit-transform:translateY(-50px);transform:translateY(-50px));opacity:0;}
  100%{-webkit-transform:translateY(0px);transform:translateY(0px);opacity:1;}
} 
@-webkit-keyframes fadeLeft{
	0%{-webkit-transform:translateX(-100px) scale(.2);opacity:0;}
  100%{-webkit-transform:translateY(0px) scale(1);opacity:1;}
} 
@keyframes fadeLeft{
	0%{-webkit-transform:translateX(-100px) scale(.2);transform:translateX(-100px) scale(.2);opacity:0;}
  100%{-webkit-transform:translateX(0px) scale(1);transform:translateX(0px) scale(1);opacity:1;}
} 
@-webkit-keyframes fadeRight{
	0%{-webkit-transform:translateX(100px) scale(.2);opacity:0;}
  100%{-webkit-transform:translateY(0px) scale(1);opacity:1;}
} 
@keyframes fadeRight{
	0%{-webkit-transform:translateX(100px) scale(.2);transform:translateX(100px) scale(.2);opacity:0;}
  100%{-webkit-transform:translateX(0px) scale(1);transform:translateX(0px) scale(1);opacity:1;}
}
@keyframes rotateA1{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}
.idnexBu_contentBlock .a1 {
    animation: zomIn 0.7s ease 0.7s both;
    -webkit-animation: zomIn 0.7s ease 0.7s both;
}
.idnexBu_contentBlock .a2 {
    animation: zomIn 0.9s ease 0.9s both;
    -webkit-animation: zomIn 0.9s ease 0.9s both;
}
.idnexBu_contentBlock .a3 {
    animation: zomIn 1.1s ease 1.1s both;
    -webkit-animation: zomIn 1.1s ease 1.1s both;
}
.idnexBu_contentBlock .a4 {
    animation: zomIn 1.3s ease 1.3s both;
    -webkit-animation: zomIn 1.3s ease 1.3s both;
}

.inn_formation{width: 90%;background: #eeeeee; position: relative;padding: 15px 5%;}
.inn_ciformin{width: auto;position: relative;padding: 15px 20px;background: #fff;}
.inn_titles{width: 100%;position: relative;border-bottom: solid 1px #f2f2f2;padding-bottom: 4px;}
.inn_titles h2{font-size: 1.8rem;color: #323232;line-height: 32px;}
.inn_form1{width: 100%;position: relative;padding-bottom: 15px;border-bottom: solid 1px #f2f2f2;}
.inn_form1:last-child{border-bottom: none;}
.inn_form1 h2{font-size: 1.8rem;color: #323232;line-height: 32px;margin: 10px 0;}
.inn_form1 p{font-size: 1.4rem;color: #666;line-height: 26px;text-align: justify;}

.mag_list{width:100%}
.mag_list ul{margin:0 -7px 20px;border-bottom:1px solid #b5b5b5;}
.mag_list ul:after{content:"";display:block;width:100%;clear:both; overflow:hidden}
.mag_list li{float:left;width:50%;}
.mag_list .mag_img,.mag_list .mag_line{margin:0 7px 10px;}
.mag_list .mag_img{border:2px solid #dcdcdc;}
.mag_list .mag_img img{display:block;max-width:100%;} 
.mag_list .mag_line{height:35px;}
.mag_list .mag_line a{display:block;width:auto;height:30px;line-height:30px;padding:0 7px;color:#FFF; border-radius:5px; background:#ee7701}
.mag_list .mag_line a.read{float:left}
.mag_list .mag_line a.download{float:right}