<div class="footer_bodyer" id="anchorId">
    <div class="Footer_content">
        <div class="Footer_contentBlock">
            <div class="Footer_leftBlock">
                <div class="Footer_a">{$config.power}</div>{$config.record}
            </div>
            <div class="Footer_rightBlock">
                <div class="Footer_a f1"><i class='youmei youmei-lianjie'></i>&nbsp;友情链接
                    <div class="f1_in">
                    {volist id='link' name='link'}  
                        <a href="{$link.url}" target="_blank">{$link.name}</a>
                    {/volist}
                    </div>
                </div> 
            </div>
            <div style="clear: both;">
            </div>
        </div>
    </div>
</div> 
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?88a694822f999e9e9ce9f047e6ba489f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>