<div class="header_content">
    <div class="header_contentBlock">
        <a href="/" class="header_logo"><img src="/static/index/picture/logo.png" alt="幽美集团" title="幽美集团"></a>
        <div class="header_rightBlock">
            <div class="header_ulBlock">
                <a href="/" class="header_aBlock">首页</a>
                {volist id='nav' name='nav'}
                    <a href="/{$nav.url}.html" class="header_aBlock">{$nav.name}</a>
                {/volist}
                <div style="clear: both;"></div>
            </div>
        </div>
        <div style="clear: both;">
        </div>
    </div>
</div>

<div class="function_content">
    <li class="function_aBlock a1">
        <div class="bg2"><i class="youmei youmei-weixin"></i></div>
        <div class="in"><div class="wx"><p>幽美生物微信公众号</p><img src="/static/index/picture/h_wx.png" alt="幽美集团微信公众号" title="幽美集团微信公众号" /></div></div>
    </li> 
    <li class="function_aBlock a1">
        <div class="bg"><i class="youmei youmei-dianhua"></i></div>
        <div class="in ic">
            <ul>
<!--                 <li>
                    <p>如有幽美股票、债券投资人相关事宜，请联系投资者关系部</p>
                    <p>Email：ir@huolishuang.com</p>
                </li>
                <li>
                    <p>如有招聘相关事宜，请联系人力资源部</p>
                    <p>Email：hr@huolishuang.com</p>
                </li>
                <li>
                     <p>如有媒体相关事宜，请联系传媒部</p>
                     <p>Email：jtprir@huolishuang.com</p>
                </li>
                <li>
                     <p>如有廉政举报相关事宜，请联系审计监察部</p>
                     <p>Email：audit@huolishuang.com</p>
                </li>
                <li>
                    <p>如有投资合作相关事宜，请联系投资部</p>
                    <p>Email：tzms@huolishuang.com</p>    
                </li>
                <li>
                    <p>如有投诉建议，请联系全国服务监督热线</p>
                    <p>Tel:400-672-2223</p>
                    <p>Email: kefu@huolishuang.cn</p>    
                </li> -->
                <li>
                    <p>北京幽美生物科技有限公司</p>
                    <p>电话：400-672-2223 010-57276250</p>
                    <p>官网：https://www.bjyoumei.com</p>
                    <p>地址：北京市经济开发区荣京东街大族广场T5栋1501</p>
                </li>                
            </ul>
        </div>
    </li> 
<!--     <li class="function_aBlock a1">
        <div class="bg"><i class="youmei youmei-sousuo1"></i></div>
        <div class="in is"><div class="srh"><input type="text" class="st" placeholder="输入关键词搜索" /><input type="button" class="btn" /></div></div>
    </li>  -->
<!--     <li class="function_aBlock a1"><div class="bg"><i class="youmei youmei-falv"></i></div>
        <div class="in" style="height:162px;">
            <div class="wx" style="line-height:26px;padding:0 30px;width:auto;text-align:left;margin-top:-58px;">
                <h1 style="font-size:16px;margin-bottom:10px;">幽美集团审计监察部举报联系方式</h1> 
                <p>电话：400-672-2223</p>
                <p>QQ：2163889174</p>
                <p>邮箱：audit@huolishuang.com</p> 
            </div>
        </div>
    </li>
 -->
    <li class="function_aBlock topButton"><div class="bg3"><i class="youmei youmei-xiangshang"></i></div></li>
</div>