<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>关注我们-幽美集团</title>
<meta name='keywords' content='幽美公众号佳,合家美公众号,瞹美人公众号,关注幽美,幽美集团' />
<meta name='description' content='幽美集团及旗下品牌佳合家美官方微信公众号，扫码关注我们获取更多相关资讯！' />
<link href="/static/m/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/m/css/css.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/m/css/swiper.min.css">
<script src="/static/m/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/m/js/swiper.min.js"></script>
<script type="text/javascript" src="/static/m/js/common.js"></script>
</head>
<body>
{include file="mobile/header" /}
    <div class="bodyer">    	
    	<div class="index_content">
    		<div class="index_contentBlock">
	    		<div class="new_cBlock">   
	    		
	    		 <div class="wc_in">
    		        <div class="wc_inl">
                        <img src="/static/m/images/youmeijituan.jpg" alt="幽美集团" title="幽美集团" /></div>
    		        <div class="wc_inr">
    		            <p>幽美集团</p>
    		            <p>微信号：gh_af35532c2fd9</p>
    		            <p>有家的地方，就有佳合家美！</p>
    		        </div>
    		        <div class="clear"></div>
    		    </div>
	    		
	    		 <div class="wc_in">
    		        <div class="wc_inl">
                        <img src="/static/m/images/jiahejiamei.jpg" alt="佳合家美" title="佳合家美" /></div>
    		        <div class="wc_inr">
    		            <p>佳合家美</p>
    		            <p>微信号：gh_fa0045248aee</p>
    		            <p>“大健康新时代”分享者，“佳合家美”尚佳的组合，让家人生活的健康、喜悦、幸福、美好！</p>
    		        </div>
    		        <div class="clear"></div>
    		    </div>
	    		
	    		 <div class="wc_in">
    		        <div class="wc_inl">
                        <img src="/static/m/images/jhjmgf.jpg" alt="佳合家美官方平台" title="佳合家美官方平台" /></div>
    		        <div class="wc_inr">
    		            <p>佳合家美官方平台</p>
    		            <p>微信号：gh_f0f918bb729c</p>
    		            <p>用心生活，用爱呵护</p>
    		        </div>
    		        <div class="clear"></div>
    		    </div>
	    		
	    		 <div class="wc_in">
    		        <div class="wc_inl">
                        <img src="/static/m/images/aimeiren.jpg" alt="瞹美人" title="瞹美人" /></div>
    		        <div class="wc_inr">
    		            <p>瞹美人</p>
    		            <p>微信号：gh_9fabfc84f351</p>
    		            <p>疗愈修复，臻曖美人！</p>
    		        </div>
    		        <div class="clear"></div>
    		    </div>
			    </div>
	    	</div>		
    	</div>
    </div> 
</body>
</html>
