<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<title>{$config.webname}</title>
<meta name='keywords' content='{$config.keywords}' />
<meta name='description' content='{$config.description}' />
<link href="/static/m/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/m/css/css.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="/static/m/css/swiper.min.css">
<link href="http://at.alicdn.com/t/font_970167_rut5rzp8sdl.css" rel="stylesheet" type="text/css">
<script src="/static/m/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/m/js/swiper.min.js"></script>
<script type="text/javascript" src="/static/m/js/common.js"></script>
</head>
<body>
{include file="mobile/header" /}
    <div class="bodyer">
      <div class="index_content">
        <div class="index_contentBlock">
          <div class="index_bigContent">
            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper">
                <div class="swiper-slide" onId="1">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812301633484614656.jpg"></a>
                </div>
                <div class="swiper-slide" onId="2">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060945437549107.png"></a>
                </div>
                <div class="swiper-slide" onId="3">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060951429890178.png"></a>
                </div>
                <div class="swiper-slide" onId="4">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060948420197378.png"></a>
                </div>
                <div class="swiper-slide" onId="5">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060951201806482.png"></a>
                </div>
                <div class="swiper-slide" onId="6">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060953059905204.png"></a>
                </div>
                <div class="swiper-slide" onId="7">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060949344072242.png"></a>
                </div>
                <div class="swiper-slide" onId="8">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060943508149833.png"></a>
                </div>
                <div class="swiper-slide" onId="9">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060945162233083.png"></a>
                </div>
                <div class="swiper-slide" onId="10">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060953526051759.png"></a>
                </div>
                <div class="swiper-slide" onId="11">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060944109402409.png"></a>
                </div>
                <div class="swiper-slide" onId="12">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060950219584626.png"></a>
                </div>
                <div class="swiper-slide" onId="13">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060943100019609.png"></a>
                </div>
                <div class="swiper-slide" onId="14">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060944466594481.png"></a>
                </div>
                <div class="swiper-slide" onId="15">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060923582215933.png"></a>
                </div>
                <div class="swiper-slide" onId="16">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060924491597453.png"></a>
                </div>
                <div class="swiper-slide" onId="17">
                  <a href="javascript:;" class="bigImg_img">
                    <img src="/static/m/picture/201812060940386718989.png"></a>
                </div>
              </div>
            </div>
            <div class="index_navBlock">
              <div class="index_bgCur"></div>
              <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper">
                  <div class="swiper-slide" onId="15"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121405096348702.png"></div></div>
                  <div class="swiper-slide" onId="16"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201802081116079285285.png"></div></div>
                  <div class="swiper-slide" onId="17"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201808171504569069272.png"></div></div>
                  <div class="swiper-slide" onId="1"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201812060920236407217.png"></div></div>
                  <div class="swiper-slide" onId="2"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121422435992433.png"></div></div>
                  <div class="swiper-slide" onId="3"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121425537662459.png"></div></div>
                  <div class="swiper-slide" onId="4"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121423585035717.png"></div></div>
                  <div class="swiper-slide" onId="5"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121423198326867.png"></div></div>
                  <div class="swiper-slide" onId="6"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121426589989509.png"></div></div>
                  <div class="swiper-slide" onId="7"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121406016791655.png"></div></div>
                  <div class="swiper-slide" onId="8"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121409007347895.png"></div></div>
                  <div class="swiper-slide" onId="9"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121421468045493.png"></div></div>
                  <div class="swiper-slide" onId="10"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121428277466789.png"></div></div>
                  <div class="swiper-slide" onId="11"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121410493713641.png"></div></div>
                  <div class="swiper-slide" onId="12"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121409359521871.png"></div></div>
                  <div class="swiper-slide" onId="13"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121406528178267.png"></div></div>
                  <div class="swiper-slide" onId="14"><div class="bigImg_icon"><img class="sca" src="/static/m/picture/201709121411437762213.png"></div></div>
                </div>
              </div>
            </div>
          </div>
          <div class="index_bigTextBlock">
            <div class="index_textUl">
              <div class="index_liBlock"><div class="index_textLi">幽美集团祝您新年快乐！</div></div>
              <div class="index_liBlock"><div class="index_textLi">综合开发</div></div>
              <div class="index_liBlock"><div class="index_textLi">财富管理</div></div>
              <div class="index_liBlock"><div class="index_textLi">城市更新</div></div>
              <div class="index_liBlock"><div class="index_textLi">文化体育</div></div>
              <div class="index_liBlock"><div class="index_textLi">商业运营</div></div>
              <div class="index_liBlock"><div class="index_textLi">旅游产业</div></div>
              <div class="index_liBlock"><div class="index_textLi">酒店运营</div></div>
              <div class="index_liBlock"><div class="index_textLi">高端餐饮</div></div>
              <div class="index_liBlock"><div class="index_textLi">物业服务</div></div>
              <div class="index_liBlock"><div class="index_textLi">航海运输</div></div>
              <div class="index_liBlock"><div class="index_textLi">健康医疗</div></div>
              <div class="index_liBlock"><div class="index_textLi">科技产业</div></div>
              <div class="index_liBlock"><div class="index_textLi">公寓办公</div></div>
              <div class="index_liBlock"><div class="index_textLi">深足俱乐部</div></div>
              <div class="index_liBlock"><div class="index_textLi">茶业经营</div></div>
              <div class="index_liBlock"><div class="index_textLi">教育产业</div></div>
            </div>
          </div>
          <div class="indexBu_content scaleCur">
            <div class="idnexBu_contentBlock">
              <a href="/m/news.html" class="indexBu_aBlock a1">
                <div class="indexBu_icon">
                  <img src="/static/m/picture/b_4.png">
                  <div class="icon_icon">
                    <img src="/static/m/picture/article.png"></div>
                  <div class="icon_color"></div>
                  <div class="icon_wire"></div>
                </div>
                <div class="indexBu_title">集团新闻</div></a>
              <a href="/m/leader.html" class="indexBu_aBlock a2">
                <div class="indexBu_icon">
                  <img src="/static/m/picture/b_4.png">
                  <div class="icon_icon">
                    <img src="/static/m/picture/b1_62.png"></div>
                  <div class="icon_color"></div>
                  <div class="icon_wire"></div>
                </div>
                <div class="indexBu_title">重要成员</div></a>
              <a href="/m/about.html" class="indexBu_aBlock a3">
                <div class="indexBu_icon">
                  <img src="/static/m/picture/b_4.png">
                  <div class="icon_icon">
                    <img src="/static/m/picture/b1_63.png"></div>
                  <div class="icon_color"></div>
                  <div class="icon_wire"></div>
                </div>
                <div class="indexBu_title">关于幽美</div></a>
              <a href="/m/follow.html" class="indexBu_aBlock a4">
                <div class="indexBu_icon">
                  <img src="/static/m/picture/b_4.png">
                  <div class="icon_icon">
                    <img src="/static/m/picture/b1_64.png"></div>
                  <div class="icon_color"></div>
                  <div class="icon_wire"></div>
                </div>
                <div class="indexBu_title">关注我们</div></a>
              <div style="clear:both;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
<script type="text/javascript">
        $(function() {
            var on = 0;
            var prOn = 0;
            var ik = 0;
            var ikN = 0;
            var maxSize = $(".index_liBlock").length - 1;
            var bW = $(".gallery-thumbs .swiper-slide").width();
            var wW = $(window).width();
            $(window).resize(function() {
                bW = $(".gallery-thumbs .swiper-slide").width();
                wW = $(window).width();
            })
            var galleryTop = new Swiper('.gallery-top', {
                slidesPerView: 1,
                loop: true,
                onTransitionStart: function(swiper) {
                    if (ik > 0) {
                      on = swiper.realIndex;
                        thisNavBlock();
                    }
                    ik++;
                }
            });
            var galleryThumbs = new Swiper('.gallery-thumbs', {
                slidesPerView: 7,
                loop: true,
                onTransitionStart: function(swiper) {
                    if (ikN > 0) {
                        on = swiper.realIndex;
                        thisBlock();
                    }
                    ikN++;
                }
            });

            function thisNavBlock() {
                ikN = 0;
                console.log(on + ":" + prOn)
                if (on > maxSize - 4 && prOn < 4) {
                    galleryThumbs.slideTo(on + 7, 0);
                    console.log(-bW * (maxSize - on + 1))
                    $(".gallery-thumbs").css({ left: -bW * (maxSize - on + 1 + prOn) }).stop(true, true).animate({ left: 0 }, 300)
                } else if (on < 4 && prOn > maxSize - 4) {
                    galleryThumbs.slideTo(on + 7, 0);
                    console.log(bW * (on + 1))
                    $(".gallery-thumbs").css({ left: bW * (on + 1 + maxSize - prOn) }).stop(true, true).animate({ left: 0 }, 300)
                } else {
                    galleryThumbs.slideTo(on + 7);
                }
                $(".index_liBlock").css({ "display": "none" });
                $(".index_liBlock").eq(on).stop(true, true).fadeIn();
                prOn = on;
            }
            function thisBlock(num) {
                ik = 0;
                if (on > maxSize - 4 && prOn < 4) {
                    $(".gallery-top").css({ left: -wW }).stop(true, true).animate({ left: 0 }, 300)
                    galleryTop.slideTo(on + 1, 0);
                } else if (on < 4 && prOn > maxSize - 4) {
                    $(".gallery-top").css({ left: wW }).stop(true, true).animate({ left: 0 }, 300)
                    galleryTop.slideTo(on + 1, 0);
                } else {
                    galleryTop.slideTo(on + 1);
                }

                $(".index_liBlock").css({ "display": "none" });
                $(".index_liBlock").eq(on).stop(true, true).fadeIn();
                if (num != 1) {
                    prOn = on
                }
            }
            $(".gallery-thumbs .swiper-slide").on("click", function() {
                on = parseInt($(this).attr("onid")) - 1;
                thisBlock(1);
                thisNavBlock();
            })

           



        })
    </script>
  </body>
</html>