<div class="nav_content">
  <div class="nav_ulBlock scaleCur">
    <div class="nav_liBlock"><a href="/m/">首页</a></div>
    <div class="nav_liBlock"><a href="/m/about.html">关于幽美</a></div>
    <div class="nav_liBlock"><a href="/m/news.html">新闻中心</a></div>
    <div class="nav_liBlock"><a href="/m/contact.html">联系我们</a></div>
  </div>
  <div style="clear:both;"></div>
  <div class="nav_icon1">
    <img src="/static/m/picture/b1_72.png" alt="幽美集团" title="幽美集团"></div>
  <div class="nav_icon2">
    <img src="/static/m/picture/b1_71.png" alt="幽美集团" title="幽美集团"></div>
  <div class="nav_icon3">
    <div class="nav3_showImg">
      <div class="nav3_img">
        <img src="/static/m/picture/b1_73.png" alt="幽美集团" title="幽美集团"></div>
    </div>
  </div>
  <div class="nav_imgBlock">
    <div class="nav_img">
      <img src="/static/m/picture/b1_5.png" alt="幽美集团" title="幽美集团"></div>
  </div>
</div>
<div class="header_content">
  <a href="/" class="header_logo">
    <img src="/static/m/picture/logo.png" alt="幽美集团" title="幽美集团"></a>
  <div class="header_bg">
    <img src="/static/m/picture/b_1.png" alt="幽美集团" title="幽美集团"></div>
  <div class="header_button">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?88a694822f999e9e9ce9f047e6ba489f";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>